<div id="status"></div>

<div role="document">

	<form id="forgot_password" class="auth-form" method="POST" action="/api/auth/forgot-password" novalidate>
		<p>Reset your password</p>

		<div>
			<label for="email">Email</label>
			<input type="email" id="email" name="email">
		<div>
			<button type="submit" value="Reset Password" title="Reset Password">Reset Password</button>
		</div>
	</form>
</div>
