<div id="status"></div>

<div role="document">

	<form id="forgot_password" class="auth-form" method="POST" action="/api/auth/login" novalidate>
		<p>Login</p>

		<div>
			<label for="email">Email</label>
			<input type="email" id="email" name="email">
		<div>
		<div>
			<label for="password">Password</label>
			<input type="password" id="password" name="password">
		<div>
			<button type="submit" value="Login" title="Login">Login</button>
		</div>
	</form>
</div>
