<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>RateWare Activation</title>
</head>

<body>
<style type="text/css">
	img,a{outline:none;border:0;}
	a:focus{outline:none}
	.yshortcuts { color:#0e3053 } /* Body text color */
	.yshortcuts a span { color:#0e3053;text-decoration:none } /* Link text color */
	html, p, a, li, td { -webkit-text-size-adjust:none; } /*iPad/Phone text size override*/
</style>

<table style="border-collapse: collapse;" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td align="center" valign="middle" bgcolor="#0e3053">
				<img style="border:0; display:block;" src="cid:RW4@hawksley.com/6" alt="RateWare by Hawksley" width="213" height="50" title="RateWare by Hawksley"/>
			</td>
		</tr>
		<tr>
			<td align="center" valign="middle">&nbsp;</td>
		</tr>
		
		<tr>
			<td align="center" valign="middle">
				<img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="20" height="50" alt="_"/>
			</td>
		</tr>
		
		<tr>
			<td align="center" valign="middle">
				<table style="border-collapse: collapse;" width="400" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td width="400" align="center" valign="top">
								<table style="border-collapse: collapse;" width="400" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td width="5" height="5" align="left" valign="top">
												<img style="border:0; display:block;" src="cid:RW4@hawksley.com/4" width="5" height="5" alt="_"/>
											</td>
											
											<td width="390" height="5" align="left" valign="top">
												<table style="border-collapse: collapse;" width="390" border="0" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td width="390" height="1" bgcolor="#cacaca"><img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="390" height="1" alt="."/></td>
														</tr>
														<tr>
															<td width="390" height="4"><img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="390" height="4" alt="."/></td>
														</tr>
													</tbody>
												</table>
											</td>
											
											<td width="5" height="5" align="right" valign="top">
												<img style="border:0; display:block;" src="cid:RW4@hawksley.com/5" width="5" height="5" alt="_"/>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td width="400" align="center" valign="top">
								<table width="400" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td width="1" align="left" valign="top" bgcolor="#cacaca">
												<img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="1" height="1" alt="|"/>
											</td>
											
											<td width="398" align="center" valign="middle">
												<table width="380" border="0" cellspacing="0" cellpadding="50">
													<tbody>
														<tr>
															<td>
																<p style="color:#0e3053;font-family:Arial, Helvetica, sans-serif;font-size: 14px; margin:0 0 20px 0;">Hi {{name}},</p>
																<p style="color:#0e3053;font-family:Arial, Helvetica, sans-serif;font-size: 14px; margin:0 0 20px 0;">Please select the link below to reset your RateWare password.</p>
																<p style="color:#0e3053;font-family:Arial, Helvetica, sans-serif;font-size: 14px; margin:0;">Thanks,<br />The Hawksley Team</p>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
											
											<td width="1" align="left" valign="top" bgcolor="#cacaca">
												<img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="1" height="1" alt="|"/>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td width="400" height="1" align="center" valign="middle" bgcolor="f7f7f7">
								<img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="400" height="1" alt="_"/>
							</td>
						</tr>
						
						<tr>
							<td width="400" align="center" valign="top">
								<table width="400" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td width="1" align="left" valign="top" bgcolor="#cacaca">
												<img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="1" height="1" alt="|"/>
											</td>
											
											<td width="398" align="center" valign="middle">
												<table width="380" border="0" cellspacing="0" cellpadding="30">
													<tbody>
														<tr>
															<td align="center" valign="middle">
																<a href="{{url}}" target="_blank" style="">
																	<img style="border:0; display:block;" src="cid:RW4@hawksley.com/1" alt="Activate Account" width="200" height="36" title="Activate Account"/>
																</a>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
												
											<td width="1" align="left" valign="top" bgcolor="#cacaca">
												<img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="1" height="1" alt="|"/>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					
						<tr>
							<td width="400" align="center" valign="bottom">
								<table style="border-collapse: collapse;" width="400" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td width="5" height="5" align="left" valign="top">
												<img style="border:0; display:block;" src="cid:RW4@hawksley.com/2" width="5" height="5" alt="_"/>
											</td>
											
											<td width="390" height="5" align="left" valign="top">
												<table style="border-collapse: collapse;" width="390" border="0" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td width="390" height="4"><img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="390" height="4" alt="."/></td>
														</tr>
														<tr>
															<td width="390" height="1" bgcolor="#cacaca"><img style="border:0; display:block;" src="cid:RW4@hawksley.com/7" width="390" height="1" alt="."/></td>
														</tr>
													</tbody>
												</table>
											</td>
											
											<td width="5" height="5" align="right" valign="top">
												<img style="border:0; display:block;" src="cid:RW4@hawksley.com/3" width="5" height="5" alt="_"/>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

</body>
</html>
